{% extends "base.html" %}

{% block title %}My blog{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
              <h2>New message</h2>

              {% if form.errors %}
                    <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                    </p>
               {% endif %}
               {% if db_error %}
                     <p style="color: red;">
                     Database error ! Message can't be saved.
                     </p>
                {% endif %}

                <form action="" method="post">
                     <ul class="nav nav-list">
                         {{ form.as_ul }}
                     </ul>
                     <input type="submit" value="Post message">
                </form>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h2>Old messages</h2>
             {% if msg_list %}
                  {% for msg in msg_list %}
                         <div class="span4"><i>{{ msg.date }}</i></div><div class="span5">&nbsp</div><br>
                         <div class="span9">{{msg.text}}<br></div><br>
                         <div class="span9">
                             <a href="#" class="btn btn-mini"><i class="icon-search"></i></a>&nbsp
                             <a href="#" class="btn btn-mini"><i class="icon-pencil"></i></a>&nbsp
                             <a href="#" class="btn btn-mini"><i class="icon-trash"></i></a>&nbsp
                         </div><br><br>
                  {% endfor %}
             {% endif %}
          </div>
         </div><!--/span-->
      </div><!--/row-->
    </div><!--/.fluid-container-->

{% endblock %}
