{% extends "base.html" %}

{% block title %}My blog{% endblock %}

{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
      <div class="row-fluid">
          {% if user.username %}
              <p><a href="/accounts/logout/">Выход</a> [{{ user.username }}]</p>
          {% else %}
              <p><a href="/accounts/login/?next=/">Вход</a></p>
          {% endif %}
      </div>
      <div class="row-fluid">
           <div class="span12"><hr size="3" width="100%" align="center" color="black"></div>
      </div>


      <div class="row-fluid">
        <div class="span3"> <h3>New message</h3></div>
        <div class="span9">
             <form action="" method="post">{% csrf_token %}{{ form.as_p }}<input type="submit" value="Post message"></form>
        </div>
      </div>
      <div class="row-fluid">
          <div class="span3">&nbsp</div>
          <div class="span9">
             {% if form.errors %}
                   <p class="text-error">
                   Error{{ form.errors|pluralize }}: {{ form.errmsg }}
                   </p>
             {% endif %}
             {% if db_error %}
                   <p class="text-error">
                   Database error: {{ db_error }} ! Message can't be saved.
             {% endif %}
         </div>
      </div>
      <div class="row-fluid">
          <div class="span12">
            <h2>Old messages</h2>
          </div>
      </div>
      <div class="row-fluid">
           <div class="span12"><hr size="3" width="100%" align="center" color="black"></div>
      </div>
      <div class="row-fluid">
           <div class="span4" align="right"><strong>
               {% if page_obj.has_next %}
                  <a href="/{{ page_obj.next_page_number }}">[<< Previous {{paginator.per_page}} messages]</a>
               {% endif %}
           </strong></div>
           <div class="span4" align="center"><strong>
               {{ page_obj }}</strong>
           </div>
           <div class="span4" align="left"><strong>
               {% if page_obj.has_previous %}
                  <a href="/{{ page_obj.previous_page_number }}">[Next {{paginator.per_page}} messages >>]</a>
               {% endif %}
           </strong></div>
      </div>
      <div class="row-fluid">
           <div class="span3" align="right">&nbsp</div>
           <div class="span6" align="center">( Messages from {{ page_obj.start_index }} to {{ page_obj.end_index }} )</div>
           <div class="span3" align="right">
                Pages:
                {% if left_dots %}
                    <a href="/{{ left_dots }}">...</a>
                {% endif %}
                {% for pg in pg_list %}
                    <a href="/{{ pg }}">{{ pg }}</a>
                {% endfor %}
                {% if right_dots %}
                    <a href="/{{ right_dots }}">...</a>
                {% endif %}
           </div>
      </div>
      <div class="row-fluid">
           <div class="span12"><strong><hr size="3" width="100%" align="center" color="black"></strong></div>
      </div>
             {% if msg_list %}
                  {% for msg in msg_list %}
                      <div class="row-fluid">
                         <div class="span3"><a name="{{ msg.pk }}"></a> <i>{{ msg.date }}</i></div>
                         <div class="span6">{{msg.text}}</div>
                         <div class="span1">{{msg.author}}</div>
                         <div class="span2">
                             <a href="/detail/{{ msg.pk }}" class="btn btn-mini"><i class="icon-search"></i></a>&nbsp
                             {% if msg.author|slugify == user.username|slugify %}
                                 <a href="/edit/{{ msg.pk }}" class="btn btn-mini"><i class="icon-pencil"></i></a>&nbsp
                                 <a href="/delete/{{ msg.pk }}" class="btn btn-mini"><i class="icon-trash"></i></a>&nbsp
                             {% endif %}
                         </div>
                      <div class="row-fluid">
                         <div class="span11" align='right'>
                             <small><em>Permanent link to this message: <a href="/post/{{ msg.pk }}">http://{{hostname}}/post/{{ msg.pk }}</a></em></small>
                         </div>
                      </div>
                      <div class="row-fluid">
                           <div class="span12"><hr size="1" width="100%" align="center" color="black"></div>
                      </div>
                 {% endfor %}
             {% endif %}
    </div><!--/.fluid-container-->

{% endblock %}
