{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <p><a href="/post/{{ publication.pk }}">[Вернуться к списку сообщений]</a> <a href="/">[Перейти на главную страницу]</a></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" >
              <p class="text-error"><strong>Изменение или удаление сообщений других пользователей невозможно.</strong></p>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

{% endblock %}