{% extends "base.html" %}

{% block title %}Edit message{% endblock %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <p><a href="/post/{{ publication.pk }}">[Вернуться к списку сообщений]</a> <a href="/">[Перейти на главную страницу]</a></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
              <h2>Edit message</h2>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
            <div class="span12"><i>{{ publication.date }}</i></div>
      </div><!--/row-->

      <div class="row-fluid">
        <div class="span12">

              {% if form.errors %}
                    <p class="text-error">
                    Please correct the error{{ form.errors|pluralize }} below.
                    </p>
              {% endif %}

              <form action="" method="post">{% csrf_token %}
                     <ul class="nav nav-list">
                         {{ form.as_ul }}
                     </ul>
                     <input type="submit" value="Save message">
              </form>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.fluid-container-->

{% endblock %}
