{% extends "base.html" %}

{% block title %}Messages list{% endblock %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <a href="/">[Перейти на главную страницу]</a></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
            <h2>Messages</h2>
        </div>
      </div>
               {% for msg in messages_list %}
                     <div class="row-fluid">
                         <div class="span1">
                             <a name="{{ msg.pk }}"></a>
                             {% if msg.isdeleted %}
                                 <p class="text-warning">
                             {% else %}
                                 <p>
                             {% endif %}
                             {{msg.pk}}</p>
                         </div>
                         <div class="span1">
                             {% if msg.isdeleted %}
                                 <p class="text-warning">Deleted</p>
                             {% endif %}
                         </div>
                         <div class="span3">
                             {% if msg.isdeleted %}
                                 <p class="text-warning">
                             {% else %}
                                 <p>
                             {% endif %}
                             <i>{{ msg.date }}</i></p>
                         </div>
                         <div class="span7">
                             {% if msg.isdeleted %}
                                 <p class="text-warning">
                             {% else %}
                                 <p>
                             {% endif %}
                             {{msg.author}}</p>
                         </div>
                     </div>
                     <div class="row-fluid">
                         <div class="span12">
                             {% if msg.isdeleted %}
                                 <p class="text-warning">
                             {% else %}
                                 <p>
                             {% endif %}
                             {{msg.text}}</p>
                         </div>
                     </div>
               {% endfor %}

      {% include 'debug_include.html' %}

    </div>

{% endblock %}
