{% extends "base.html" %}

{% block title %}Messages list{% endblock %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <h2>Messages</h2>
        </div>
      </div>
               {% for msg in messages_list %}
                     <div class="row-fluid">
                         <div class="span1">{{msg.pk}}</div><div class="span3"><i>{{ msg.date }}</i></div><div class="span8">{{msg.author}}</div>
                     </div>
                     <div class="row-fluid">
                         <div class="span12">{{msg.text}}<br></div>
                     </div>
               {% endfor %}
    </div>

{% endblock %}
